# Application of matrix decomposition to biological data

So far, we've used PCA and ICA on not truly biological datasets, now we'll try a real biological dataset by obtaining the data from a public database.

## 1. Find the database and accession codes

At the end of most recent papers, they'll put a section called "**Accession Codes**" or "**Accession Numbers**" which will list a uniquely identifying number and letter combination.

In the US, the Gene Expression Omnibus (GEO) is a website funded by the NIH to store the expression data associated with papers. Many journals require you to submit your data to GEO to be able to publish.

### Example data accession section from a Cell paper

![Accession numbers in Cell journal](figures/accession_numbers_cell.png)

### Example data accession section from a Nature Biotech paper
![Accession codes in Nature Biotech journal](figures/accession_codes_buettner.png)

Let's do this for the Shalek2013 paper. Note: For some "older" papers, the accession code may not be on the PDF version of the paper but on the online version only. What I usually do then is search for the title of the paper and go to the journal website.

* What database was the data deposited to? 
* What is its' accession number?

## 2. Go to the data in the database

If you search for the database and the accession number, the first result will usually be the database with the paper info and the deposited data! Below is an example search for "Array Express E-MTAB-2805."

![Example search for "Array Express E-MTAB-2805"](figures/buettner_search_accession.png)

Search for its database and accession number and you should get to a page that looks like this:

![GEO overview page for Shalek 2013](figures/shalek2013_geo.png)

## 3. Find the gene expression matrix

Lately, for many papers, they *do* give a processed expression matrix in the accession database that you can use directly. Luckily for us, that's exactly what the authors of the Shalek 2013 dataset did. If you notice at the bottom of the page, there's a table of Supplementary files and one of them is called "`GSE41265_allGenesTPM.txt.gz`". The link below is the "(ftp)" link copied down with the command "`wget`" which I think of as short for "web-get" so you can download files from the internet with the command line.

In addition to the gene expression file, we'll also look at the metadata in the "Series Matrix" file. **Download the "Series Matrix" to your laptop** and **copy the link for the `GSE41265_allGenesTPM.txt.gz`" file**. All the "Series" file formats contain the same information in different formats. I find the matrix one is the easiest to understand.

Open the "Series Matrix" in Excel (or equivalent) on your laptop. And look at the format and what's described.

Run the cell below to download the text file.

In [1]:
! wget ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE41nnn/GSE41265/suppl/GSE41265_allGenesTPM.txt.gz

--2016-06-04 11:38:46--  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE41nnn/GSE41265/suppl/GSE41265_allGenesTPM.txt.gz
           => 'GSE41265_allGenesTPM.txt.gz'
Resolving ftp.ncbi.nlm.nih.gov... 2607:f220:41e:250::12, 130.14.250.11
Connecting to ftp.ncbi.nlm.nih.gov|2607:f220:41e:250::12|:21... failed: Operation timed out.
Connecting to ftp.ncbi.nlm.nih.gov|130.14.250.11|:21... connected.
Logging in as anonymous ... Logged in!
==> SYST ... done.    ==> PWD ... done.
==> TYPE I ... done.  ==> CWD (1) /geo/series/GSE41nnn/GSE41265/suppl ... done.
==> SIZE GSE41265_allGenesTPM.txt.gz ... 1099290
==> PASV ... done.    ==> RETR GSE41265_allGenesTPM.txt.gz ... done.
Length: 1099290 (1.0M) (unauthoritative)

GSE41265_allGenesTP 100%[=====================>]   1.05M   276KB/s   in 3.6s

2016-06-04 11:40:07 (294 KB/s) - 'GSE41265_allGenesTPM.txt.gz' saved [1099290]

We can use the unix command "`ls`" (short for "listing") to look around the files that are available here and prove to ourselves that we actually have the file we just downloaded.

In [2]:
ls

2.1_Introduction.ipynb
2.2_Hierarchical_clustering.ipynb
2.3_Matrix_Decomposition.ipynb
2.4_Manifold_learning.ipynb
2.5_Compare_unsupervised.ipynb
2.6_Additional_reading.ipynb
2.9_Application_of_matrix_decomposition_to_shalek2013.ipynb
GSE41265_allGenesTPM.txt.gz
figures/
papers/

See, "`GSE41265_allGenesTPM.txt.gz`" is there!

Since the file ends in "`.gz`", this tells us its a "gnu-zipped" or "gzipped" ("gee-zipped") file, which is a specific flavor of "zipping" or compressing a file. We need to use a gnu-zipping-aware program to decompress the file, which is "`gunzip`" ("gnu-unzip").

Run the next cell to unzip the file

In [3]:
! gunzip GSE41265_allGenesTPM.txt.gz

Let's "`ls`" again to see what files have changed

In [4]:
ls

2.1_Introduction.ipynb
2.2_Hierarchical_clustering.ipynb
2.3_Matrix_Decomposition.ipynb
2.4_Manifold_learning.ipynb
2.5_Compare_unsupervised.ipynb
2.6_Additional_reading.ipynb
2.9_Application_of_matrix_decomposition_to_shalek2013.ipynb
GSE41265_allGenesTPM.txt
figures/
papers/

So now we have the unzipped version of the file, "`GSE41265_allGenesTPM.txt`". I wonder how much space they saved by zipping it?

Let's use the flags "`-l`" for "long listing" which will show us the sizes

In [5]:
ls -l

total 7456
-rw-r--r--   1 olga  staff     2084 May 24 16:04 2.1_Introduction.ipynb
-rw-r--r--   1 olga  staff   214633 Jun  3 12:09 2.2_Hierarchical_clustering.ipynb
-rw-r--r--   1 olga  staff   351682 Jun  3 12:16 2.3_Matrix_Decomposition.ipynb
-rw-r--r--   1 olga  staff   198471 May 24 19:29 2.4_Manifold_learning.ipynb
-rw-r--r--   1 olga  staff   163301 May 25 10:15 2.5_Compare_unsupervised.ipynb
-rw-r--r--   1 olga  staff     1532 May 24 16:04 2.6_Additional_reading.ipynb
-rw-r--r--   1 olga  staff     7137 Jun  4 12:16 2.9_Application_of_matrix_decomposition_to_shalek2013.ipynb
-rw-r--r--   1 olga  staff  2866331 Jun  4 11:40 GSE41265_allGenesTPM.txt
drwxr-xr-x  27 olga  staff      918 Jun  4 11:59 figures/
drwxr-xr-x   5 olga  staff      170 May 24 16:03 papers/

oof, this is in pure bytes and I can't convert to multiples of 1024 easily in my head (1024 bytes = 1 kilobyte, 1024 kilobytes = 1 megabtye, etc -  the 1000/byte is a lie that the hard drive companies use!). So let's use the `-h` flag, which tells the computer to do th conversion for us. We can combine multiple flags with the same dash, so

    ls -l -h

Can be shortened to:

    ls -lh

In [7]:
ls -lh

total 7464
-rw-r--r--   1 olga  staff   2.0K May 24 16:04 2.1_Introduction.ipynb
-rw-r--r--   1 olga  staff   210K Jun  3 12:09 2.2_Hierarchical_clustering.ipynb
-rw-r--r--   1 olga  staff   343K Jun  3 12:16 2.3_Matrix_Decomposition.ipynb
-rw-r--r--   1 olga  staff   194K May 24 19:29 2.4_Manifold_learning.ipynb
-rw-r--r--   1 olga  staff   159K May 25 10:15 2.5_Compare_unsupervised.ipynb
-rw-r--r--   1 olga  staff   1.5K May 24 16:04 2.6_Additional_reading.ipynb
-rw-r--r--   1 olga  staff   8.6K Jun  4 12:18 2.9_Application_of_matrix_decomposition_to_shalek2013.ipynb
-rw-r--r--   1 olga  staff   2.7M Jun  4 11:40 GSE41265_allGenesTPM.txt
drwxr-xr-x  27 olga  staff   918B Jun  4 11:59 figures/
drwxr-xr-x   5 olga  staff   170B May 24 16:03 papers/

Okay, the file is 2.7 megabytes, and in the "wget" command we saw that the file was 1 megabyte, so the gzipping *did* save half the space! I bet that adds up over all the millions of files that GEO hosts.

Anyways, let's get on with the analysis.

## 3. Reading in the data file

To read the gene expression matrix, we'll use "`pandas`" a Python package for "Panel Data Analysis" (as in panels of data), which is a fantastic library for working with dataframes, and is Python's answer to R's dataframes. We'll take this opportunity to import ALL of the python libaries that we'll use today.

We'll be using several additional libraries in Python:

3. [`matplotlib`](http://matplotlib.org/) - This is the base plotting library in Python.
1. [`numpy`](http://www.numpy.org/) - (pronounced "num-pie") which is basis for most scientific packages. It's basically a nice-looking Python interface to C code. It's very fast.
2. [`pandas`](http://pandas.pydata.org) - This is the "DataFrames in Python." (like R's nice dataframes) They're a super convenient form that's based on `numpy` so they're fast. And you can do convenient things like calculate mea n and variance very easily.
4. [`scipy`](http://www.scipy.org/) - (pronounced "sigh-pie") "Scientific Python" - Contains statistical methods and calculations
4. [`seaborn`](http://web.stanford.edu/~mwaskom/software/seaborn/index.html) - Statistical plotting library. To be completely honest, R's plotting and graphics capabilities are much better than Python's. However, Python is a really nice langauge to learn and use, it's very memory efficient, can be parallized well, and has a very robust machine learning library, `scikit-learn`, which has a very nice and consistent interface. So this is Python's answer to `ggplot2` (very popular R library for plotting) to try and make plotting in Python nicer looking and to make statistical plots easier to do.

We'll read in the data using `pandas` and look at the first 5 rows of the dataframe with the dataframe-specific function `.head()`. Whenever I read a new table or modify a dataframe, I **ALWAYS** look at it to make sure it was correctly imported and read in, and I want you to get into the same habit.

In [14]:
# Alphabetical order is standard
# We're doing "import superlongname as abbrev" for our laziness - this way we don't have to type out the whole thing each time.

# Python plotting library
import matplotlib.pyplot as plt

# Numerical python library (pronounced "num-pie")
import numpy as np

# Dataframes in Python
import pandas as pd

# T-test of independent samples
from scipy.stats import ttest_ind

# Statistical plotting library we'll use
import seaborn as sns

# This is necessary to show the plotted figures inside the notebook -- "inline" with the notebook cells
%matplotlib inline


%matplotlib notebook

shalek2013_expression = pd.read_table('GSE41265_allGenesTPM.txt', 
                                      index_col=0)  # index_col=0 sets the first column as the row names 
shalek2013_expression.head()

,S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,...,S12,S13,S14,S15,S16,S17,S18,P1,P2,P3
GENE,,,,,,,,,,,,,,,,,,,,,
XKR4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.019906,0.000000
AB338584,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
B3GAT2,0.000000,0.000000,0.023441,0.000000,0.000000,0.029378,0.000000,0.055452,0.000000,0.029448,...,0.000000,0.000000,0.031654,0.000000,0.000000,0.000000,42.150208,0.680327,0.022996,0.110236
NPL,72.008590,0.000000,128.062012,0.095082,0.000000,0.000000,112.310234,104.329122,0.119230,0.000000,...,0.000000,0.116802,0.104200,0.106188,0.229197,0.110582,0.000000,7.109356,6.727028,14.525447
T2,0.109249,0.172009,0.000000,0.000000,0.182703,0.076012,0.078698,0.000000,0.093698,0.076583,...,0.693459,0.010137,0.081936,0.000000,0.000000,0.086879,0.068174,0.062063,0.000000,0.050605

So we have 21 columns but pandas by default shows maximum of 20 so let's change the setting so we can see ALL of the samples instead of just skipping sample 11 (**S11**). We'll change this for rows, too, and why will become obvious in a second.

In [15]:
pd.options.display.max_columns = 21
pd.options.display.max_rows = 21
shalek2013_expression.head()

,S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,S11,S12,S13,S14,S15,S16,S17,S18,P1,P2,P3
GENE,,,,,,,,,,,,,,,,,,,,,
XKR4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.019906,0.000000
AB338584,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
B3GAT2,0.000000,0.000000,0.023441,0.000000,0.000000,0.029378,0.000000,0.055452,0.000000,0.029448,0.024137,0.000000,0.000000,0.031654,0.000000,0.000000,0.000000,42.150208,0.680327,0.022996,0.110236
NPL,72.008590,0.000000,128.062012,0.095082,0.000000,0.000000,112.310234,104.329122,0.119230,0.000000,0.000000,0.000000,0.116802,0.104200,0.106188,0.229197,0.110582,0.000000,7.109356,6.727028,14.525447
T2,0.109249,0.172009,0.000000,0.000000,0.182703,0.076012,0.078698,0.000000,0.093698,0.076583,0.000000,0.693459,0.010137,0.081936,0.000000,0.000000,0.086879,0.068174,0.062063,0.000000,0.050605

Now we can see all the samples!

Let's take a look at the full size of the matrix with `.shape`:

In [17]:
shalek2013_expression.shape

(27723, 21)

Wow, ~28k rows! That must be the genes, while there are 18 single cell samples and 3 pooled samples as the columns.

## 4. Verify that the matrix conforms to machine learning standards

Okay so we have the genes as the rows and the samples as the columns. To make this compatible with machine learning algorithms, we need to transpose it so that the rows are the features (genes) and the columns are the samples (individual cells and bulk sequencing libraries). We'll do that with `.T`, and verify the shape, in addition to showing the top 5 rows.

I like to both print the shape of the matrix in addition to showing the "head" so I can keep track of the number of columns or rows.

In [18]:
shalek2013_expression = shalek2013_expression.T
print(shalek2013_expression.shape)
shalek2013_expression.head()

(21, 27723)

GENE,XKR4,AB338584,B3GAT2,NPL,T2,T,PDE10A,1700010I14RIK,6530411M01RIK,PABPC6,...,AK085062,DHX9,RNASET2B,FGFR1OP,CCR6,BRP44L,AK014435,AK015714,SFT2D1,PRR18
S1,0.0,0.0,0.000000,72.008590,0.109249,0.0,0.0,0.0,0.0,0.0,...,0.0,0.774638,23.520936,0.000000,0.0,460.316773,0.0,0.000000,39.442566,0.0
S2,0.0,0.0,0.000000,0.000000,0.172009,0.0,0.0,0.0,0.0,0.0,...,0.0,0.367391,1.887873,0.000000,0.0,823.890290,0.0,0.000000,4.967412,0.0
S3,0.0,0.0,0.023441,128.062012,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.249858,0.313510,0.166772,0.0,1002.354241,0.0,0.000000,0.000000,0.0
S4,0.0,0.0,0.000000,0.095082,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.354157,0.000000,0.887003,0.0,1230.766795,0.0,0.000000,0.131215,0.0
S5,0.0,0.0,0.000000,0.000000,0.182703,0.0,0.0,0.0,0.0,0.0,...,0.0,0.039263,0.000000,131.077131,0.0,1614.749122,0.0,0.242179,95.485743,0.0

## 5. Filter on bad genes and bad cells

Okay, now we're ready to do some analysis!

In [ ]:
shalek2013_expression

# Downloading data from GEO


## Reading list

- [What the FPKM](https://haroldpimentel.wordpress.com/2014/05/08/what-the-fpkm-a-review-rna-seq-expression-units/) - Explain difference between TPM/FPKM/RPKM units
- [Pearson correlation](https://en.wikipedia.org/wiki/Pearson_product-moment_correlation_coefficient) - linear correlation unit

## Intro

The Gene Expression Omnibus (GEO) is a website funded by the NIH to store the expression data associated with papers. Many papers require you to submit your data to GEO to be able to publish.

Search [GEO](http://www.ncbi.nlm.nih.gov/geo) for the accession ID from [Shalek + Satija 2013](http://www.ncbi.nlm.nih.gov/pubmed/23685454). **Download the "Series Matrix" to your laptop** and **copy the link for the `GSE41265_allGenesTPM.txt.gz`" file**. All the "Series" file formats contain the same information in different formats. The Matrix one is the easiest to understand.

Open the "Series Matrix" in Excel (or equivalent) on your laptop. And look at the format and what's described.

In [ ]:
! wget [link to GSE41265_allGenesTPM.txt.gz file]

In [ ]:

# Read the data table
geo_expression = pd.read_table('GSE41265_allGenesTPM.txt.gz', 
                               
                               # Sets the first (Python starts counting from 0 not 1) column as the row names
                               index_col=0, 
                               
                               # Tells pandas to decompress the gzipped file
                               compression='gzip')

Let's look at the top of the dataframe by using `head()`. By default, this shows the first 5 rows.

In [ ]:
geo_expression.head()

To specify a certain number of rows, put a number between the parentheses.

In [ ]:
geo_expression.head(8)

### Exercise 1: using `.head()`

Show the first 17 rows of `geo_expression`

In [ ]:
# YOUR CODE HERE

In [ ]:
# The Assert statement checks that the last output "_" has the correct row names
assert _.index.tolist() == ['XKR4', 'AB338584', 'B3GAT2', 'NPL', 'T2', 'T', 'PDE10A', '1700010I14RIK', 
                            '6530411M01RIK', 'PABPC6', 'AK019626', 'AK020722', 'QK', 'B930003M22RIK',
                            'RGS8', 'PACRG', 'AK038428']

Let's get a sense of this data by plotting the distributions using `boxplot` from seaborn. To save the output, we'll need to get access to the current figure, and save this to a variable using `plt.gcf()`. And then we'll save this figure with `fig.savefig("filename.pdf")`. You can use other extensions (e.g. "`.png`", "`.tiff`" and it'll automatically save as that forma)

In [ ]:
sns.boxplot(geo_expression)

# gcf = Get current figure
fig = plt.gcf()
fig.savefig('geo_expression_boxplot.pdf')

Oh right we have expression data and the scales are enormous... notice the 140,000 maximum. Let's add 1 to all values and take the log2 of the data. We add one because log(0) is undefined and then all our logged values start from zero too. This "$\log_2(TPM + 1)$" is a very common transformation of expression data so it's easier to analyze.

In [ ]:
expression_logged = np.log2(geo_expression+1)
expression_logged.head()

In [ ]:
sns.boxplot(expression_logged)

# gcf = Get current figure
fig = plt.gcf()
fig.savefig('expression_logged_boxplot.pdf')

### Exercise 2: Interpreting distributions
Now that these are on moreso on the same scale ...

Q: What do you notice about the pooled samples (P1, P2, P3) that is different from the single cells?

YOUR ANSWER HERE

## Filtering expression data

Seems like a lot of genes are near zero, which means we need to filter our genes.

We can ask which genes have log2 expression values are less than 10 (weird example I know - stay with me). This creates a dataframe of `boolean` values of True/False.

In [ ]:
expression_logged < 10

What's nice about booleans is that False is 0 and True is 1, so we can sum to get the number of "Trues." This is a simple, clever way that we can filter on a count for the data. We **could** use this boolean dataframe to filter our original dataframe, but then we lose information. For all values that are less than 10, it puts in a "not a number" - "NaN."

In [ ]:
expression_at_most_10 = expression_logged[expression_logged < 10]
expression_at_most_10

### Exercise 3: Crude filtering on expression data

Create a dataframe called "`expression_greater_than_5`" which contains only values that are greater than 5 from `expression_logged`.

In [ ]:
# YOUR CODE HERE

In [ ]:
# This `assert` tests for the total number of "NaN"s (nulls) in the dataframe by getting a boolean matrix from
# `isnull()` and then summing twice to get the total
assert expression_greater_than_5.isnull().sum().sum() == 539146


The crude filtering above is okay, but we're smarter than that. We want to use the filtering in the paper: 

> *... discarded genes that were not appreciably expressed (transcripts per million (TPM) > 1) in at least three individual cells, retaining 6,313 genes for further analysis.*

We want to do THAT, but first we need a couple more concepts. The first one is summing booleans.

## A smarter way to filter

Remember that booleans are really 0s (`False`) and 1s (`True`)? This turns out to be VERY convenient and we can use this concept in clever ways.

We can use `.sum()` on a boolean matrix to get the number of genes with expression greater than 10 for each sample:

In [ ]:
(expression_logged > 10).sum()

`pandas` is column-oriented and by default, it will give you a sum for each column. But **we** want a sum for each row. How do we do that?


We can sum the boolean matrix we created with "`expression_logged < 10`" along `axis=1` (along the samples) to get **for each gene, how many samples have expression less than 10**. In `pandas`, this column is called a "`Series`" because it has only one dimension - its length. Internally, `pandas` stores dataframes as a bunch of columns - specifically these `Series`ssssss.

This turns out to be not that many.

In [ ]:
(expression_logged > 10).sum(axis=1)

Now we can apply ANOTHER filter and find genes that are "present" (expression greater than 10) in at least 5 samples. We'll save this as the variable `genes_of_interest`. Notice that this doesn't the `genes_of_interest` but rather the list at the bottom. This is because what you see under a code cell is the output of the last thing you called. The "hash mark"/"number sign" "`#`" is called a **comment character** and makes the rest of the line after it not read by the Python language.

### Exercise 4: Commenting and uncommenting

To see `genes_of_interest`, "uncomment" the line by removing the hash sign, and commenting out the list `[1, 2, 3]`.

In [ ]:
genes_of_interest = (expression_logged > 10).sum(axis=1) >= 5
# genes_of_interest
[1, 2, 3]

In [ ]:
assert isinstance(_, pd.Series)

## Getting only rows that you want (aka subsetting)

Now we have some genes that we want to use - how do you pick just those? This can also be called "subsetting" and in `pandas` has the technical name [indexing](http://pandas.pydata.org/pandas-docs/stable/indexing.html)

In `pandas`, to get the rows (genes) you want using their name (gene symbol) or boolean matrix, you use `.loc[rows_you_want]`. Check it out below.

In [ ]:
expression_filtered = expression_logged.loc[genes_of_interest]
print(expression_filtered.shape)  # shows (nrows, ncols) - like in manhattan you do the Street then the Avenue
expression_filtered.head()

Wow, our matrix is very small - 197 genes! We probably don't want to filter THAT much... I'd say a range of 5,000-15,000 genes after filtering is a good ballpark. Not too big so it's impossible to work with but not too small that you can't do any statistics.

We'll get closer to the expression data created by the paper. Remember that they filtered on genes that had expression greater than 1 in at least 3 *single cells*. We'll filter for expression greater than 1 in at least 3 *samples* for now - we'll get to the single stuff in a bit. For now, we'll filter on all samples.

### Exercise 5: Filtering on the presence of genes

Create a dataframe called `expression_filtered_by_all_samples` that consists only of genes that have expression greater than 1 in at least 3 samples.

#### Hint for `IndexingError: Unalignable boolean Series key provided`

If you're getting this error, double-check your `.sum()` command. Did you remember to specify that you want to get the "number present" for each **gene** (row)? Remember that `.sum()` by default gives you the sum over columns. How do you get the sum over rows?

In [ ]:
# YOUR CODE HERE
print(expression_filtered_by_all_samples.shape)
expression_filtered_by_all_samples.head()

In [ ]:
assert expression_filtered_by_all_samples.shape == (9943, 21)

Just for fun, let's see how our the distributions in our expression matrix have changed. If you wnat to save the figure

In [ ]:
sns.boxplot(expression_filtered_by_all_samples)

# gcf = Get current figure
fig = plt.gcf()
fig.savefig('expression_filtered_by_all_samples_boxplot.pdf')

## Getting only the columns you want

In the next exercise, we'll get just the single cells

For the next step, we're going to pull out just the pooled - which are conveniently labeled as "P#". We'll do this using a [list comprehension](http://www.pythonforbeginners.com/basics/list-comprehensions-in-python), which means we'll create a new list based on the items in `geo_expression.columns` and whether or not they start with the letter `'P'`.

In [ ]:
pooled_ids = [x for x in expression_logged.columns if x.startswith('P')]
pooled_ids

We'll access the columns we want using this bracket notation (note that this only works for columns, not rows)

In [ ]:
pooled = expression_logged[pooled_ids]
pooled.head()

We could do the same thing using `.loc` but we would need to put a colon "`:`" in the "rows" section (first place) to show that we want "all rows."

In [ ]:
expression_logged.loc[:, pooled_ids].head()

### Exercise 6: Make a dataframe of only single samples

Use list comprehensions to make a list called `single_ids` that consists only of single cells, and use that list to subset `expression_logged` and create a dataframe called `singles`. (Hint - how are the single cells ids different from the pooled ids?)

In [ ]:
# YOUR CODE HERE
print(singles.shape)
singles.head()

In [ ]:
assert singles.shape == (27723, 18)

## Using two different dataframes for filtering

### Exercise 7: Filter the full dataframe using the singles dataframe

Now we'll actually do the filtering done by the paper. Using the `singles` dataframe you just created, get the genes that have expression greater than 1 in at least 3 single cells, and use that to filter `expression_logged`. Call this dataframe `expression_filtered_by_singles`.

In [ ]:
# YOUR CODE HERE
print(expression_filtered_by_singles.shape)
expression_filtered_by_singles.head()

In [ ]:
assert expression_filtered_by_singles.shape == (6312, 21)

Let's make a boxplot again to see how the data has changed.

In [ ]:
sns.boxplot(expression_filtered_by_singles)

fig = plt.gcf()
fig.savefig('expression_filtered_by_singles_boxplot.pdf')

This is much nicer because now we don't have so many zeros and each sample has a reasonable dynamic range.

## Why did this filtering even matter?

You may be wondering, we did all this work to remove some zeros..... so the FPKM what? Let's take a look at how this affects the relationships between samples using `sns.jointplot` from seaborn, which will plot a correlation scatterplot. This also calculates the [Pearson correlation](https://en.wikipedia.org/wiki/Pearson_product-moment_correlation_coefficient), a linear correlation metric.

Let's first do this on the unlogged data.

In [ ]:
sns.jointplot('S1', 'S2', geo_expression)

Pretty funky looking huh? That's why we logged it :)

Now let's try this on the logged data.

In [ ]:
sns.jointplot(expression_logged['S1'], expression_logged['S2'])

Hmm our pearson correlation increased from 0.62 to 0.64. Why could that be?

Let's look at this same plot using the filtered data.

In [ ]:
sns.jointplot('S1', 'S2', expression_filtered_by_singles)

And now our correlation went DOWN!? Why would that be? 

### Exercise 8: Discuss changes in correlation

Take 2-5 sentences to explain why the correlation changed between the different datasets.

In [ ]:
# YOUR CODE HERE